# Managed by Ansible (cluster-ansible/slurm.yml). Must be identical on every host.
ClusterName=hpclab
SlurmctldHost={{ groups['head'][0] }}
SlurmUser=slurm
AuthType=auth/munge

SlurmctldPidFile=/run/slurmctld/slurmctld.pid
SlurmdPidFile=/run/slurm/slurmd.pid
StateSaveLocation=/var/lib/slurm/slurmctld
SlurmdSpoolDir=/var/lib/slurm/slurmd
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdLogFile=/var/log/slurm/slurmd.log

ProctrackType=proctrack/cgroup
TaskPlugin=task/cgroup,task/affinity
JobAcctGatherType=jobacct_gather/cgroup
ReturnToService=2

SchedulerType=sched/backfill
SelectType=select/cons_tres
SelectTypeParameters=CR_Core_Memory
DefMemPerCPU=256

AccountingStorageType=accounting_storage/none

{% for n in groups['compute'] %}
NodeName={{ n }} CPUs={{ hostvars[n].ansible_processor_vcpus }} RealMemory={{ (hostvars[n].ansible_memtotal_mb * 0.9) | int }} State=UNKNOWN
{% endfor %}
PartitionName=debug Nodes=ALL Default=YES MaxTime=INFINITE State=UP
